$pageBgImg: "./img/ahead-2551465_1920.jpg";
body {
  background: url($pageBgImg) no-repeat fixed;
  font-family: Arial,Helvetica,sans-serif;
}
.page {
  position: relative;
  margin:0 auto;
  padding: 15px;

  border-radius:5px;
  //background-color: rgba(255,255,255,0.2);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.5);
}
.page--bg-image{
  position: absolute; z-index: -1;
  display: block;
  left: 0; right: 0; top:0;
  width: 100%;
  height: 100%;
  background: url($pageBgImg) no-repeat fixed;
  filter: blur(15px);
}

$cols: 12;
$col: 6;
@media (min-width: 480px) {
  .page {
    width: 1000px;
    padding: 20px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .col {
    padding: 12px;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }

  @for $i from 1 through $cols {
    .col-#{$i} {
      width: $i / $cols * 100%;
    }
  }
}

.box-form {
  background: rgba(255,255,255,0.2);
  padding: 12px;
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 #bfbc88;

  .box-form--title {
    margin-top: 8px;
  }
}

.submit-btn {
  margin-top: 15px;
}

.page-title{
  color: #443;
}